#7. 파일에서 데이터 읽기

In [ ]:
import pandas as pd

# csv 파일 읽어오기 
url = 'https://codepresso-online-platform-public.s3.ap-northeast-2.amazonaws.com/learning-resourse/titanic_train.csv'
csvfile = pd.read_csv(url)
print(type(csvfile))
print(pd.read_csv(url))

print()

# info() 함수
print(csvfile.info())

print()
print()

# excel
url = 'https://codepresso-online-platform-public.s3.ap-northeast-2.amazonaws.com/learning-resourse/python-data-analysis/students_score.xlsx'
excelfile = pd.read_excel(url)
print(type(execfile))
print(excelfile)

print()
print()

# header (n) - 컬럼 기준! 
# 파일읽어올때 , 특정 컬럼을 불러오기 컬럼 , header0,1 총 3개 호출 
sample = pd.read_excel(url, header= 2)

# 원래 파일에 컬럼의 목록이없었기 때문에 새로 목록을 추가하기 
sample.columns =['name', 'age', 'score', 'grade', 'subject']
print(sample)
print()

# sheet_name
# excel 파일에 만약 2번째 sheet 가 있어서 호출하고싶을 때 sheet_name =''
sample = pd.read_excel(url, sheet_name= 'students')
print("m",sample)

<class 'pandas.core.frame.DataFrame'>
     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None


<class 'function'>
   Jessi  20  100  A  python
0   Emma  24   95  A    java
1   Alex  23   80  B  python
2  Jessi  20   85  B       c
3    Tom  27   97  A    java
4    Sia  28   79  C  python


    name  age  score grade subject
0  Jessi   20     85     B       c
1    Tom   27     97     A    java
2    Sia   28     79     C  python

m     name  age  etc1  etc2  etc3                email
0    Lee   25   0.1   0.1   0.1    lee@codepresso.kr
1  Hwang   24   0.1   0.1   0.1  hwang@codepresso.kr
2    Kim   28   0.1   0.1   0.1    kim@codepresso.kr
3   Choi   27   0.1   0.1   0.1   choi@codepresso.kr
4   Park   21   0.1   0.1   0.1   park@codepresso.kr
5    Lim   20   0.1   0.1   0.1    lim@codepresso.kr

#8. 결측치 처리 (1)

In [ ]:
import pandas as pd
import numpy as np

# 실습 데이터 생성
df = pd.DataFrame(data = np.arange(18).reshape(6,3),
				  index = ['a','b','c','d','e','f'],
                  columns=['col1','col2','col3'])
                  
df['col4'] = pd.Series(data = [1.7, 1.2, 2.4], 
                       index = ['a','e','c'])
df.loc['c'] = None
print('Sample Data')
print(df)

# info()
print(df.info())
# 해석 : non-null:정상값 , 5:정상값의 개수 
# index = 6 -> col(1~4) 당 행의 개수가 6개인데 이중에서 5개는 정상값이기에 자동적으로 1개가 결측값임을 알수 있다
print()

# isnull(), isna() - 정상값과 결측값의 결과를 Treu, False 로 나타내는 함수
print(df.isnull()) # null 값이 True!

# isnull().sum() - 실제로 데이터수가 굉장히 많기 때문에  가장 많이 사용되는 방식 
# 각 컬럼 별 결측값의 개수 
print(df.isnull().sum())
# 각 행별로 결측값 개수도 가능 axis=1 로 사용
print(df.isnull().sum(axis=1))

Sample Data
   col1  col2  col3  col4
a   0.0   1.0   2.0   1.7
b   3.0   4.0   5.0   NaN
c   NaN   NaN   NaN   NaN
d   9.0  10.0  11.0   NaN
e  12.0  13.0  14.0   1.2
f  15.0  16.0  17.0   NaN
<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, a to f
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    5 non-null      float64
 1   col2    5 non-null      float64
 2   col3    5 non-null      float64
 3   col4    2 non-null      float64
dtypes: float64(4)
memory usage: 400.0+ bytes
None

    col1   col2   col3   col4
a  False  False  False  False
b  False  False  False   True
c   True   True   True   True
d  False  False  False   True
e  False  False  False  False
f  False  False  False   True
col1    1
col2    1
col3    1
col4    4
dtype: int64
a    0
b    1
c    4
d    1
e    0
f    1
dtype: int64

#8.1 결측치 처리(2)

In [ ]:
import pandas as pd
import numpy as np

# 데이터의 결측치를 찾아서 처리하는 함수 

# 실습 데이터 생성
df = pd.DataFrame(data = np.arange(18).reshape(6,3),
				  index = ['a','b','c','d','e','f'],
                  columns=['col1','col2','col3'])
                  
df['col4'] = pd.Series(data = [1.7, 1.2, 2.4], 
                       index = ['a','e','c'])
df.loc['c'] = None
print('Sample Data')
print(df)

print()

# 1. dropna() 함수 - 결측값이 포함되어있는 행을 모두 삭제하고 남아있는 데이터 값을 반환
# print(df.dropna())
print()
# 이렇게 모두 삭제해버리면 데이터 분석도 하기 전에 데이터의 크기가 너무 작아짐 해결책으로
# how='all' 사용 - 행이 all 결측값인 행만 삭제
print("d",df.dropna(how='all',inplace=True))
print()

# 2. 열을 기준으로 결측치 조회하여 있으면 제거 
# axis = 1 or axis = columns 둘중 아무거나 
print(df.dropna(axis = 'columns')) 

#3. 다시 결측값으로 만들기
df.iloc[:2 ,0] =np.nan
df.iloc[:4,1]=np.nan
print(df)

#4. fillna() 결측값 변환하기 
print(df.fillna(0)) 
# 이때 ()안에는 int, float, str, dic, series, dataframe 모두 가능

#5. dic 로 변환하기
replace  = {'col1':0,'col2':100}
print(df.fillna(replace))

# 6.  대표적인 평균을 활용하여 결측지 대체! 하기 
# 원본데이터 유지하기 
function = {'col1':df['col1'].mean()}
print(df.fillna(function, inplace =True))
print(df)

Sample Data
   col1  col2  col3  col4
a   0.0   1.0   2.0   1.7
b   3.0   4.0   5.0   NaN
c   NaN   NaN   NaN   NaN
d   9.0  10.0  11.0   NaN
e  12.0  13.0  14.0   1.2
f  15.0  16.0  17.0   NaN


d None

   col1  col2  col3
a   0.0   1.0   2.0
b   3.0   4.0   5.0
d   9.0  10.0  11.0
e  12.0  13.0  14.0
f  15.0  16.0  17.0
   col1  col2  col3  col4
a   NaN   NaN   2.0   1.7
b   NaN   NaN   5.0   NaN
d   9.0   NaN  11.0   NaN
e  12.0   NaN  14.0   1.2
f  15.0  16.0  17.0   NaN
   col1  col2  col3  col4
a   0.0   0.0   2.0   1.7
b   0.0   0.0   5.0   0.0
d   9.0   0.0  11.0   0.0
e  12.0   0.0  14.0   1.2
f  15.0  16.0  17.0   0.0
   col1   col2  col3  col4
a   0.0  100.0   2.0   1.7
b   0.0  100.0   5.0   NaN
d   9.0  100.0  11.0   NaN
e  12.0  100.0  14.0   1.2
f  15.0   16.0  17.0   NaN
None
   col1  col2  col3  col4
a  12.0   NaN   2.0   1.7
b  12.0   NaN   5.0   NaN
d   9.0   NaN  11.0   NaN
e  12.0   NaN  14.0   1.2
f  15.0  16.0  17.0   NaN

#9. 데이터 조회를 위한 인덱싱

In [ ]:
import pandas as pd

# 실습 데이터 생성
d = {'name': ['Jessi', 'Emma', 'Alex', 'Jessi', 'Tom'],
     'score': [100, 95, 80, 85, 97],
     'grade': ['A', 'A', 'B', 'B', 'A'],
     'subject':['python', 'java', 'python', 'c', 'java']}

df = pd.DataFrame(data=d)
print('Sample Data')
print(df)

#1. set_index() : 컬럼 값들을 행인덱스로 바꾸기
# index 의 값을 사라지고 컬럼이 그 자리로 배치됨 
df.set_index('name', inplace = True)
print(df)

print()

# loc[] - 인덱스 명(값) 을 기준으로 행 데이터 조회 - 문자 
list_loc = df.loc[['Jessi','Emma']]
print(list_loc)

# iloc[] - 인덱스 번호를 기준으로 행 데이터 조회 - interger 
list_iloc = df.iloc[[0,4]]
print(list_iloc)

print()
# loc[] 활용- boolean indexing 
booleaning = df.loc[df['score']>=95]
print(booleaning)

# loc[]활용 - 2
booleaning2 = df.loc[df['subject']=='python']
print(booleaning2)

Sample Data
    name  score grade subject
0  Jessi    100     A  python
1   Emma     95     A    java
2   Alex     80     B  python
3  Jessi     85     B       c
4    Tom     97     A    java
       score grade subject
name
Jessi    100     A  python
Emma      95     A    java
Alex      80     B  python
Jessi     85     B       c
Tom       97     A    java

       score grade subject
name
Jessi    100     A  python
Jessi     85     B       c
Emma      95     A    java
       score grade subject
name
Jessi    100     A  python
Tom       97     A    java

       score grade subject
name
Jessi    100     A  python
Emma      95     A    java
Tom       97     A    java
       score grade subject
name
Jessi    100     A  python
Alex      80     B  python

#10. 데이터 조회를 위한 슬라이싱

In [ ]:
import pandas as pd

# 실습 데이터 생성
d = {'name': ['Jessi', 'Emma', 'Alex', 'Jessi', 'Tom'],
     'score': [100, 95, 80, 85, 97],
     'grade': ['A', 'A', 'B', 'B', 'A'],
     'subject':['python', 'java', 'python', 'c', 'java']}

sample_df = pd.DataFrame(data=d)
sample_df.set_index('name', inplace=True) #인덱스 값을 컬럼값으로 변환 

print('Sample Data')
print(sample_df)

print()

#1. 기본 슬라이싱
print("slicing",sample_df[1:4])

print()

# 2. 기본 슬라이싱 
print(sample_df[::2]) 
print()

# 3. 기본 슬라이싱 - end-1 성립 안되는것 주의
print(sample_df[:'Alex']) # 처음~ alex 까지 호출
print()

# 4. loc 이용 슬라이싱 - 인덱스 명 이용 
print(sample_df.loc[:'Emma',['subject','grade']])
print()

# 5. iloc 이용 슬라이싱 - 인덱스 값 호출
print(sample_df.iloc[:4 , -1 ])
# 여기 주의 -> :4 는 행 -> [jessi ~ alex]
#              : -1 은 열 -> 거꾸로 호출 - > subject 만 호출 한것

Sample Data
       score grade subject
name
Jessi    100     A  python
Emma      95     A    java
Alex      80     B  python
Jessi     85     B       c
Tom       97     A    java

slicing        score grade subject
name
Emma      95     A    java
Alex      80     B  python
Jessi     85     B       c

       score grade subject
name
Jessi    100     A  python
Alex      80     B  python
Tom       97     A    java

       score grade subject
name
Jessi    100     A  python
Emma      95     A    java
Alex      80     B  python

      subject grade
name
Jessi  python     A
Emma     java     A

name
Jessi    python
Emma       java
Alex     python
Jessi         c
Name: subject, dtype: object

#11. Pandas 의 집계함수

In [ ]:
import pandas as pd
import numpy as np

# 실습 데이터 생성
score = {'sub1': [3, 9, 1, 1, 9],
         'sub2': [2, 9, np.nan, np.nan, 8],
         'sub3': [np.nan, 1, 5, 5, 7],
         'sub4': [np.nan, 3, np.nan, 1, np.nan]}

df = pd.DataFrame(data=score)
print(df)

# Numpy 는 axis=0,1,2 모두 적용 가능하지만 
# Pandas 는 axis = 0,1 만 가능하고 굳이 나와있지 않다면 0 을 기본으 호출한다

#1. count() - sub을 기준으로 데이터의 수 즉, 행 (axix=0) 기준
print(df.count()) 
print()

#2. count(axis=1)
print(df.count(axis=1))
print()

#3. sum() - axis=0 기준 
print(df.sum())
print()

#4. sum(skipna=False) 기본 집계함수는 결측값을 뺴고계산하는데 결측값을 포함해서 계산하고 싶을때 
print(df.sum(skipna=False))
# 하나라도 계측값이 존재하면 결과는 계측값으로 나온다

   sub1  sub2  sub3  sub4
0     3   2.0   NaN   NaN
1     9   9.0   1.0   3.0
2     1   NaN   5.0   NaN
3     1   NaN   5.0   1.0
4     9   8.0   7.0   NaN
sub1    5
sub2    3
sub3    4
sub4    2
dtype: int64

0    2
1    4
2    2
3    3
4    3
dtype: int64

sub1    23.0
sub2    19.0
sub3    18.0
sub4     4.0
dtype: float64

sub1    23.0
sub2     NaN
sub3     NaN
sub4     NaN
dtype: float64

#12.데이터 그룹화

In [ ]:
import pandas as pd
import numpy as np

# 실습 데이터 생성
sample = {'product':['a','b','a','b','a','b','a','a'],
          'sensor':['s1','s1','s2','s3','s2','s2','s1','s3'],
          'x':np.arange(1,9),
          'y':np.arange(5,13)}

df = pd.DataFrame(data=sample)
print(df)

# 단계 0. key, value 의 값을 가지고 있는 input
#      1. 중심이 되어 묶일 데이터를 사용해 groupby = ('묶일 데이터 ') => split
#      2. 새롭게 묶인 데이터를 가지고 ex> Mean() 적용 => apply
#      3. 나온 값을 가지고 다시 그룹화 => combine 
# 모든 단계에서의 data 는 key, value 로 이루어져 있다! 

print()

#1. 그룹화하기
list_ = df.groupby('product')
print(list_)
print()

#2. for 문을 이용해서 key, value 값 확인
for key, value in list_:
  print(key)
  print(value)
  # 보면 product 기준으로 a,b 로 나뉜것을 볼 수 있음

print()

#3. 집계함수 적용하기
print("-------",list_.sum())
# 이렇게도 가능 print(df.groupby('product'),sum()) 
# pandas 에는 굳이 표시 없으면 axis =0 으로 sum 이 이루어짐
print()

#4. 2가지로 그룹화하기
list2 = df.groupby(['product','sensor']).sum() # 2중으로 묶을때는 안에 목록 - 리스트로 대입
print(list2)
# 첫번째로 product 로 그룹화 -> 두번째로 sensor 로 그룹화 -> data 로 sum

print()

#5. 그룹화 한 뒤 'x' 로만 다시 한번 그룹화 - 중첩
list3 = df.groupby(['product','sensor'])['x'].sum() #구문 조심하기! 
print(list3)
print()

#6. 그룹화 한뒤 각각의 그룹에 각기 다른 집계함수 적용하기
function= {'x':'max', 'y':'min'} # 조건은 딕셔너리로 정의 : 적용함수를 딕셔너리로 정의 - 중요!!
list4 =  df.groupby(['product', 'sensor']).agg(function)
# agg(x) ->? : 조건을 인자로 지정해주는 코딩 
# 즉 x 변수를 딕셔너리로 생성 후 agg 함수를 통해 적용해주는것 -> 방식 잘 생각해서 쓰기!!  
print(list4)

  product sensor  x   y
0       a     s1  1   5
1       b     s1  2   6
2       a     s2  3   7
3       b     s3  4   8
4       a     s2  5   9
5       b     s2  6  10
6       a     s1  7  11
7       a     s3  8  12

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f11a9433cd0>

a
  product sensor  x   y
0       a     s1  1   5
2       a     s2  3   7
4       a     s2  5   9
6       a     s1  7  11
7       a     s3  8  12
b
  product sensor  x   y
1       b     s1  2   6
3       b     s3  4   8
5       b     s2  6  10

-------           x   y
product
a        24  44
b        12  24

                x   y
product sensor
a       s1      8  16
        s2      8  16
        s3      8  12
b       s1      2   6
        s2      6  10
        s3      4   8

product  sensor
a        s1        8
         s2        8
         s3        8
b        s1        2
         s2        6
         s3        4
Name: x, dtype: int64

                x   y
product sensor
a       s1      7   5
        s2      5   7
        s3      8  12
b       s1      2   6
        s2      6  10
        s3      4   8

#13. 데이터 결합하기

In [ ]:
import pandas as pd

# 실습 데이터 생성
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[4, 5, 6, 7])                   

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                    index=[8, 9, 10, 11])

df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                    index=[2, 3, 6, 7])
                    
print('DF1')
print(df1)
print('\nDF2')
print(df2)
print('\nDF3')
print(df3)
print('\nDF4')
print(df4)

print()

#1. df1 , df2 데이터 결합 - shape 이 일치할 떄
result =  pd.concat([df2,df1,df3],ignore_index = True) 
print(result)
# 명시되어 있지 않으면 axis=0을 기준으로 결합되기에
# 컬럼은 일치하되 행의 수가 늘어난다 
# 순서도 중요 []에 쓴 대로 결합이 된다. 
# ingore_index = true : 데이터가 결합될 떄 기존의 index 를 무시하고 0부터 새로운 index를 주기 위한 값


print()

# 2. shape 이 서로 다른 데이터 결합 -> 행을 기준으로 결합후, 채울 수 없는 곳은 결측값으로 대체한다
result = pd.concat([df1, df4])
print(result)
print()

# 3. 슬라이싱을 통해 일부 데이터 합치기
result = pd.concat([df1[:2], df4[3:]])
print(result)
print()

# 4. axis =1 을 기준으로 데이터 결합하기
result = pd.concat([df1,df4],axis=1,ignore_index= True)
# axis =1 을 기준으로 결합시키면 (4,4),(4,3) = 이때 행으로 늘어나느것이 아니라 컬럼수가 증가 - 7개
# but 행도 df1 과 다른 df4 에 있는 행은(6,7) 새로 추가됨 
# ignore_index=True : 컬럼값이 중복인 값이 있는데 그것을 무시하고 새로운 index를 0부터 새로운 컬럼값으로 대입
print("4",result)
print()

# 5. 교집합으로 데이터 결합하기 join = 'inner'
# join을 넣지 않으면 합집합 기준으로 데이터를 결합
# axis=0 으로 분석을 하면 겹치는 컬럼이 존재하고
# axis=1 로 분석을 하면 겹치는 행의 값이 존재하기에
# 어떤 axis 르 쓰는지에 따라 다른 값이 결정되어 교집합이 되어 결합됨! 
result = pd.concat([df1,df4],join='inner')
print(result)

DF1
    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

DF2
    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

DF3
      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

DF4
    B   D   F
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7

      A    B    C    D
0    A4   B4   C4   D4
1    A5   B5   C5   D5
2    A6   B6   C6   D6
3    A7   B7   C7   D7
4    A0   B0   C0   D0
5    A1   B1   C1   D1
6    A2   B2   C2   D2
7    A3   B3   C3   D3
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
2  NaN  B2  NaN  D2   F2
3  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
7  NaN  B7  NaN  D7   F7

4      0    1    2    3    4    5    6
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

    B   D
0  B0  D0
1  B1  D1
2  B2  D2
3  B3  D3
2  B2  D2
3  B3  D3
6  B6  D6
7  B7  D7

In [ ]:
import pandas as pd
import numpy as np

# 데이터의 결측치를 찾아서 처리하는 함수 

# 실습 데이터 생성
df = pd.DataFrame(data = np.arange(18).reshape(6,3),
				  index = ['a','b','c','d','e','f'],
                  columns=['col1','col2','col3'])
                  
df['col4'] = pd.Series(data = [1.7, 1.2, 2.4], 
                       index = ['a','e','c'])
df.loc['c'] = None
print('Sample Data')
print(df)

print()

function = {'col2':'string'}
print(df.fillna(function, inplace =True))
print(df)

df['col2'].str[:1]

Sample Data
   col1  col2  col3  col4
a   0.0   1.0   2.0   1.7
b   3.0   4.0   5.0   NaN
c   NaN   NaN   NaN   NaN
d   9.0  10.0  11.0   NaN
e  12.0  13.0  14.0   1.2
f  15.0  16.0  17.0   NaN

None
   col1    col2  col3  col4
a   0.0       1   2.0   1.7
b   3.0       4   5.0   NaN
c   NaN  string   NaN   NaN
d   9.0      10  11.0   NaN
e  12.0      13  14.0   1.2
f  15.0      16  17.0   NaN

a    NaN
b    NaN
c      s
d    NaN
e    NaN
f    NaN
Name: col2, dtype: object